body, .container {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

#taskManager {
    margin-top: 20px;
}

#taskList li {
    background: #f0f0f0;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    list-style-type: none;
}

.green {
    color: green;
}

.red {
    color: red;
}
