#task-manager {
    width: 300px;
    margin: auto;
    text-align: center;
}

#task-input {
    width: 200px;
    padding: 10px;
    margin: 10px 0;
}

.green {
    color: green;
}

.red {
    color: red;
}

li {
    margin: 5px 0;
    list-style-type: none;
}
